In [49]:
from sklearn.manifold import TSNE
import pandas as pd
import numpy as np

In [50]:
movies = pd.read_csv('Data/norm_sample_movies.csv')
title = pd.read_csv('Data/title.csv')

In [51]:
movies_features = movies.drop(columns=['primaryTitle', 'tconst'])

In [52]:
# movies_np = movies.to_numpy(dtype='uint8')
movies_np = np.array(movies_features)

In [53]:
tsne_data = TSNE(n_components=1, learning_rate='auto', init='random').fit_transform(movies_np)

In [54]:
movies['tsne_score'] = tsne_data

In [55]:
movies.sort_values(by=['tsne_score'], inplace=True)
movies

,tconst,primaryTitle,startYear,averageRating,numVotes,War,Romance,Animation,Music,Drama,...,Talk-Show,Biography,Family,Mystery,Comedy,Action,History,News,Documentary,tsne_score
4527,tt2101441,Spring Breakers,0.092183,-0.171902,0.000714,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-133.282776
4317,tt1758810,The Snowman,0.141203,-0.195998,-0.029453,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-133.279251
4253,tt1674784,Trespass,0.082379,-0.171902,-0.037319,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-133.271439
4578,tt2193215,The Counselor,0.101987,-0.159854,-0.015066,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-133.250351
2106,tt0278435,Enough,-0.005856,-0.123709,-0.037253,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-133.236160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,tt0097223,Time of the Gypsies,-0.143111,0.165447,-0.042279,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,133.665924
569,tt0085794,The King of Comedy,-0.201935,0.129303,-0.014691,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,133.717773
353,tt0070334,The Long Goodbye,-0.290170,0.093158,-0.042073,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,133.786697
356,tt0070510,Paper Moon,-0.290170,0.165447,-0.035811,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,133.811325
363,tt0070735,The Sting,-0.290170,0.189544,0.045979,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,133.826279

In [68]:
movies_sorted = movies[['tconst', 'primaryTitle']].copy()
movies_sorted

         tconst         primaryTitle
4527  tt2101441      Spring Breakers
4317  tt1758810          The Snowman
4253  tt1674784             Trespass
4578  tt2193215        The Counselor
2106  tt0278435               Enough
...         ...                  ...
863   tt0097223  Time of the Gypsies
569   tt0085794   The King of Comedy
353   tt0070334     The Long Goodbye
356   tt0070510           Paper Moon
363   tt0070735            The Sting

[5697 rows x 2 columns]

In [70]:
movies_sorted.reset_index(drop=True, inplace=True)
movies_sorted

         tconst         primaryTitle
0     tt2101441      Spring Breakers
1     tt1758810          The Snowman
2     tt1674784             Trespass
3     tt2193215        The Counselor
4     tt0278435               Enough
...         ...                  ...
5692  tt0097223  Time of the Gypsies
5693  tt0085794   The King of Comedy
5694  tt0070334     The Long Goodbye
5695  tt0070510           Paper Moon
5696  tt0070735            The Sting

[5697 rows x 2 columns]

In [71]:
movies_sorted.to_csv('tsne_sorted_move.csv')