# Movie Recommendation

In [44]:
from sklearn.manifold import TSNE
import pandas as pd
import numpy as np

In [45]:
movies = pd.read_csv('Data/norm_sample_movies.csv')
title = pd.read_csv('Data/title.csv')

In [46]:
movies_features = movies.drop(columns=['primaryTitle', 'tconst'])

## t-SNE

In [47]:
# movies_np = movies.to_numpy(dtype='uint8')
movies_np = np.array(movies_features)

In [48]:
tsne_data = TSNE(n_components=1, learning_rate='auto', init='random').fit_transform(movies_np)

In [49]:
movies['tsne_score'] = tsne_data

In [50]:
movies.sort_values(by=['tsne_score'], inplace=True)
movies

,tconst,primaryTitle,startYear,averageRating,numVotes,War,Romance,Animation,Music,Drama,...,Talk-Show,Biography,Family,Mystery,Comedy,Action,History,News,Documentary,tsne_score
5,tt0015864,The Gold Rush,-0.760758,0.177496,-0.011464,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-134.097916
49,tt0034240,Sullivan's Travels,-0.603895,0.141351,-0.043962,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-134.051544
295,tt0065988,Little Big Man,-0.319582,0.105207,-0.040462,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-133.873260
653,tt0089457,Ladyhawke,-0.172523,0.020869,-0.035865,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-133.639847
1074,tt0105629,Toys,-0.103895,-0.195998,-0.041737,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-133.550858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,tt0097223,Time of the Gypsies,-0.143111,0.165447,-0.042279,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,135.039688
569,tt0085794,The King of Comedy,-0.201935,0.129303,-0.014691,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,135.096802
353,tt0070334,The Long Goodbye,-0.290170,0.093158,-0.042073,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,135.162720
356,tt0070510,Paper Moon,-0.290170,0.165447,-0.035811,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,135.180908
363,tt0070735,The Sting,-0.290170,0.189544,0.045979,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,135.200623

In [51]:
movies_sorted = movies[['tconst', 'primaryTitle']].copy()
movies_sorted

         tconst         primaryTitle
5     tt0015864        The Gold Rush
49    tt0034240   Sullivan's Travels
295   tt0065988       Little Big Man
653   tt0089457            Ladyhawke
1074  tt0105629                 Toys
...         ...                  ...
863   tt0097223  Time of the Gypsies
569   tt0085794   The King of Comedy
353   tt0070334     The Long Goodbye
356   tt0070510           Paper Moon
363   tt0070735            The Sting

[5697 rows x 2 columns]

In [52]:
movies_sorted.reset_index(drop=True, inplace=True)
movies_sorted

         tconst         primaryTitle
0     tt0015864        The Gold Rush
1     tt0034240   Sullivan's Travels
2     tt0065988       Little Big Man
3     tt0089457            Ladyhawke
4     tt0105629                 Toys
...         ...                  ...
5692  tt0097223  Time of the Gypsies
5693  tt0085794   The King of Comedy
5694  tt0070334     The Long Goodbye
5695  tt0070510           Paper Moon
5696  tt0070735            The Sting

[5697 rows x 2 columns]

In [53]:
movies_sorted.to_csv('tsne_sorted_move.csv')

### t-SNE recommend processing

In [54]:
movies_sorted.shape[0]

5697

In [88]:
def tSNE_recommend(title, sorted_movies_df, n=10):
    movie_index = sorted_movies_df.index[sorted_movies_df['primaryTitle'] == title].tolist()
    
    if movie_index:
        movie_index = movie_index[0]

        len = movies_sorted.shape[0]
        if n > len-2:
            return 'Range out of list'

        front = movie_index - n//2 
        back = movie_index + n//2 

        if front < 0:
            back += -front
            front = 0
        elif back > len-1:
            front -= back - (len-1)
            back = len-1
        
        movies_recommend = []
        for i in range(front, back):
            if i != movie_index:            
                print(sorted_movies_df.at[i, 'primaryTitle'])
    
    else:
        return 'Can\'t Find this Movie'

In [89]:
searching_movie = 'The Sting'

tSNE_recommend(searching_movie, movies_sorted)

Wild at Heart
Chungking Express
Mystery Train
Risky Business
Down by Law
After Hours
Time of the Gypsies
The King of Comedy
The Long Goodbye
Paper Moon