# Movie Recommendation

In [74]:
from sklearn.manifold import TSNE
import pandas as pd
import numpy as np

In [75]:
movies = pd.read_csv('Data/norm_sample_movies.csv')
title = pd.read_csv('Data/title.csv')

In [76]:
movies_features = movies.drop(columns=['primaryTitle', 'tconst'])

## t-SNE

In [77]:
# movies_np = movies.to_numpy(dtype='uint8')
movies_np = np.array(movies_features)

In [78]:
tsne_data = TSNE(n_components=1, learning_rate='auto', init='random').fit_transform(movies_np)

In [79]:
movies['tsne_score'] = tsne_data

In [80]:
movies.sort_values(by=['tsne_score'], inplace=True)
movies

,tconst,primaryTitle,startYear,averageRating,numVotes,War,Romance,Animation,Music,Drama,...,Talk-Show,Biography,Family,Mystery,Comedy,Action,History,News,Documentary,tsne_score
363,tt0070735,The Sting,-0.290170,0.189544,0.045979,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-134.666016
356,tt0070510,Paper Moon,-0.290170,0.165447,-0.035811,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-134.647705
353,tt0070334,The Long Goodbye,-0.290170,0.093158,-0.042073,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-134.633438
569,tt0085794,The King of Comedy,-0.201935,0.129303,-0.014691,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-134.551270
863,tt0097223,Time of the Gypsies,-0.143111,0.165447,-0.042279,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,-134.505966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,tt0045061,The Quiet Man,-0.496052,0.117255,-0.039194,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,129.724091
45,tt0033045,The Shop Around the Corner,-0.613699,0.165447,-0.041415,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,129.762436
41,tt0032599,His Girl Friday,-0.613699,0.129303,-0.031557,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,129.762985
27,tt0027977,Modern Times,-0.652915,0.213640,0.038282,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,129.773758
12,tt0021749,City Lights,-0.701935,0.213640,0.016490,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,129.779221

In [81]:
movies_sorted = movies[['tconst', 'primaryTitle']].copy()
movies_sorted

        tconst                primaryTitle
363  tt0070735                   The Sting
356  tt0070510                  Paper Moon
353  tt0070334            The Long Goodbye
569  tt0085794          The King of Comedy
863  tt0097223         Time of the Gypsies
..         ...                         ...
103  tt0045061               The Quiet Man
45   tt0033045  The Shop Around the Corner
41   tt0032599             His Girl Friday
27   tt0027977                Modern Times
12   tt0021749                 City Lights

[5697 rows x 2 columns]

In [82]:
movies_sorted.reset_index(drop=True, inplace=True)
movies_sorted

         tconst                primaryTitle
0     tt0070735                   The Sting
1     tt0070510                  Paper Moon
2     tt0070334            The Long Goodbye
3     tt0085794          The King of Comedy
4     tt0097223         Time of the Gypsies
...         ...                         ...
5692  tt0045061               The Quiet Man
5693  tt0033045  The Shop Around the Corner
5694  tt0032599             His Girl Friday
5695  tt0027977                Modern Times
5696  tt0021749                 City Lights

[5697 rows x 2 columns]

In [83]:
movies_sorted.to_csv('tsne_sorted_move.csv')

### t-SNE recommend processing

In [86]:
def tSNE_recommend(title, sorted_movies_df):
    movie_index = sorted_movies_df.index[sorted_movies_df['primaryTitle'] == title].tolist()
    if movie_index:
        return movie_index
    else:
        return -1

In [87]:
tSNE_recommend("1", movies_sorted)

-1