In [3]:
import pandas as pd

In [4]:
df_basic = pd.read_csv('../OfflineFiles/IMDB/title_basics.tsv',sep='\t')
df_rating = pd.read_csv('../OfflineFiles/IMDB/title_ratings.tsv',sep='\t')
df_akas = pd.read_csv('../OfflineFiles/IMDB/title_akas.tsv',sep='\t')
df_links=pd.read_csv('../OfflineFiles/MovieLens/ml-latest-small/links.csv')

/var/folders/nl/jzl2sdyd5g7gv2bk8lfg29tr0000gn/T/ipykernel_82344/2610705146.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_basic = pd.read_csv('../OfflineFiles/IMDB/title_basics.tsv',sep='\t')
/var/folders/nl/jzl2sdyd5g7gv2bk8lfg29tr0000gn/T/ipykernel_82344/2610705146.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_akas = pd.read_csv('../OfflineFiles/IMDB/title_akas.tsv',sep='\t')

## Data Integration

In [5]:
df_basic.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
set(df_basic['titleType'].tolist())

{'movie',
 'short',
 'tvEpisode',
 'tvMiniSeries',
 'tvMovie',
 'tvPilot',
 'tvSeries',
 'tvShort',
 'tvSpecial',
 'video',
 'videoGame'}

In [9]:
df_movie = df_basic.loc[df_basic['titleType'] == 'movie']
df_movie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama

In [10]:
df_movie_pre = df_movie[['tconst', 'primaryTitle', 'startYear', 'genres']]
df_movie_pre.set_index('tconst', inplace=True)

In [11]:
df_rating.set_index('tconst', inplace=True)

In [12]:
df_allSet = pd.concat([df_movie_pre, df_rating.reindex(df_movie_pre.index)], axis=1)

In [13]:
df_allSet.head()

,primaryTitle,startYear,genres,averageRating,numVotes
tconst,,,,,
tt0000009,Miss Jerry,1894,Romance,5.3,198.0
tt0000502,Bohemios,1905,\N,4.5,14.0
tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,778.0
tt0000591,The Prodigal Son,1907,Drama,4.7,19.0
tt0000615,Robbery Under Arms,1907,Drama,4.5,23.0

## Drop Nan

In [14]:
df_allSet.dropna(inplace=True)
df_dropN = df_allSet[df_allSet['genres'] != "\\N"]
df_dropN = df_dropN[df_dropN['startYear'] != "\\N"]

In [15]:
title = df_dropN['primaryTitle']
title

tconst
tt0000009                     Miss Jerry
tt0000574    The Story of the Kelly Gang
tt0000591               The Prodigal Son
tt0000615             Robbery Under Arms
tt0000630                         Hamlet
                        ...
tt9916190                      Safeguard
tt9916270       Il talento del calabrone
tt9916362                          Coven
tt9916428            The Secret of China
tt9916538            Kuambil Lagi Hatiku
Name: primaryTitle, Length: 269697, dtype: object

In [16]:
title.to_csv('title.csv')

In [17]:
# df_dropN.drop(columns='primaryTitle', inplace=True)
df_dropN.to_csv('movie.csv')

## Categorical Data Processing

In [18]:
df = pd.read_csv('movie.csv')
df.set_index('tconst', inplace = True)
df

,primaryTitle,startYear,genres,averageRating,numVotes
tconst,,,,,
tt0000009,Miss Jerry,1894,Romance,5.3,198.0
tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,778.0
tt0000591,The Prodigal Son,1907,Drama,4.7,19.0
tt0000615,Robbery Under Arms,1907,Drama,4.5,23.0
tt0000630,Hamlet,1908,Drama,3.9,25.0
...,...,...,...,...,...
tt9916190,Safeguard,2020,"Action,Adventure,Thriller",3.6,235.0
tt9916270,Il talento del calabrone,2020,Thriller,5.8,1347.0
tt9916362,Coven,2020,"Drama,History",6.4,4788.0
tt9916428,The Secret of China,2019,"Adventure,History,War",3.8,14.0
tt9916538,Kuambil Lagi Hatiku,2019,Drama,8.3,6.0

In [19]:
all_genres=set()
for line in df['genres']:
    line_s=line.split(",")
    for gen in line_s:
        all_genres.add(gen)
print(all_genres)

{'Family', 'Biography', 'Musical', 'Reality-TV', 'Music', 'War', 'Action', 'Mystery', 'Sport', 'Drama', 'Short', 'Talk-Show', 'Game-Show', 'Fantasy', 'Documentary', 'Thriller', 'Adventure', 'Comedy', 'Romance', 'History', 'Film-Noir', 'Adult', 'Animation', 'News', 'Horror', 'Western', 'Sci-Fi', 'Crime'}

In [20]:
all_genres_df=pd.DataFrame(0,index=df.index,columns=list(all_genres))
for i in range(len(df.index)):
    gens=df['genres'][i].split(",")
    for gen in gens:
        all_genres_df[gen][i]=1
all_genres_df

,Family,Biography,Musical,Reality-TV,Music,War,Action,Mystery,Sport,Drama,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
tconst,,,,,,,,,,,,,,,,,,,,,
tt0000009,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
tt0000574,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000591,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
tt0000615,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
tt0000630,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916190,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9916270,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9916362,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
tt9916428,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
tt9916538,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [52]:
movies = pd.concat([df, all_genres_df], axis=1)
movies.drop(columns='genres', inplace=True)
movies

,primaryTitle,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,Music,War,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
tconst,,,,,,,,,,,,,,,,,,,,,
tt0000009,Miss Jerry,1894,5.3,198.0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
tt0000574,The Story of the Kelly Gang,1906,6.0,778.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000591,The Prodigal Son,1907,4.7,19.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000615,Robbery Under Arms,1907,4.5,23.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000630,Hamlet,1908,3.9,25.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916190,Safeguard,2020,3.6,235.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9916270,Il talento del calabrone,2020,5.8,1347.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9916362,Coven,2020,6.4,4788.0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
tt9916428,The Secret of China,2019,3.8,14.0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
tt9916538,Kuambil Lagi Hatiku,2019,8.3,6.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df_ids=pd.read_csv('id.csv')
ids=df_ids['0'].to_list()

In [54]:
df_links['imdbId'] = df_links['imdbId'].astype(str)

df_links['imdbId'] = df_links['imdbId'].str.zfill(7)

df_links['imdbId']

0       0114709
1       0113497
2       0113228
3       0114885
4       0113041
         ...
9737    5476944
9738    5914996
9739    6397426
9740    8391976
9741    0101726
Name: imdbId, Length: 9742, dtype: object

In [55]:
df_imbd=df_links[df_links['movieId'].isin(ids)]['imdbId']
df_imbd

0       0114709
1       0113497
2       0113228
4       0113041
5       0113277
         ...
9571    5013056
9604    1856101
9621    2380307
9645    2527336
9709    5463162
Name: imdbId, Length: 2121, dtype: object

In [56]:
s = [i for i in range(movies.shape[0])]
t_cons=movies.index
movies.insert(1,"Index",s,True)

In [57]:
t_cons.to_list
movies.insert(1,"T_Const",t_cons,True)
movies

,primaryTitle,T_Const,Index,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
tconst,,,,,,,,,,,,,,,,,,,,,
tt0000009,Miss Jerry,tt0000009,0,1894,5.3,198.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
tt0000574,The Story of the Kelly Gang,tt0000574,1,1906,6.0,778.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000591,The Prodigal Son,tt0000591,2,1907,4.7,19.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000615,Robbery Under Arms,tt0000615,3,1907,4.5,23.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0000630,Hamlet,tt0000630,4,1908,3.9,25.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916190,Safeguard,tt9916190,269692,2020,3.6,235.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9916270,Il talento del calabrone,tt9916270,269693,2020,5.8,1347.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt9916362,Coven,tt9916362,269694,2020,6.4,4788.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
tt9916428,The Secret of China,tt9916428,269695,2019,3.8,14.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
tt9916538,Kuambil Lagi Hatiku,tt9916538,269696,2019,8.3,6.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
movies.set_index("Index", inplace = True)
movies

,primaryTitle,T_Const,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,Music,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
Index,,,,,,,,,,,,,,,,,,,,,
0,Miss Jerry,tt0000009,1894,5.3,198.0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,The Story of the Kelly Gang,tt0000574,1906,6.0,778.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Prodigal Son,tt0000591,1907,4.7,19.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Robbery Under Arms,tt0000615,1907,4.5,23.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Hamlet,tt0000630,1908,3.9,25.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269692,Safeguard,tt9916190,2020,3.6,235.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269693,Il talento del calabrone,tt9916270,2020,5.8,1347.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269694,Coven,tt9916362,2020,6.4,4788.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
269695,The Secret of China,tt9916428,2019,3.8,14.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
269696,Kuambil Lagi Hatiku,tt9916538,2019,8.3,6.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
movies['T_Const']=movies['T_Const'].str[2:]

In [60]:
movies

,primaryTitle,T_Const,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,Music,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
Index,,,,,,,,,,,,,,,,,,,,,
0,Miss Jerry,0000009,1894,5.3,198.0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,The Story of the Kelly Gang,0000574,1906,6.0,778.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Prodigal Son,0000591,1907,4.7,19.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Robbery Under Arms,0000615,1907,4.5,23.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Hamlet,0000630,1908,3.9,25.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269692,Safeguard,9916190,2020,3.6,235.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269693,Il talento del calabrone,9916270,2020,5.8,1347.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269694,Coven,9916362,2020,6.4,4788.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
269695,The Secret of China,9916428,2019,3.8,14.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
269696,Kuambil Lagi Hatiku,9916538,2019,8.3,6.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
df_all=movies[movies['T_Const'].isin(df_imbd)]
df_all

,primaryTitle,T_Const,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,Music,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
Index,,,,,,,,,,,,,,,,,,,,,
1600,Nosferatu,0013442,1922,7.9,96271.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2572,Metropolis,0017136,1927,8.3,172666.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4424,City Lights,0021749,1931,8.5,182909.0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4503,Frankenstein,0021884,1931,7.8,71663.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4625,M,0022100,1931,8.3,156439.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221931,Guardians of the Galaxy Vol. 2,3896198,2017,7.6,662565.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224675,Avengers: Infinity War,4154756,2018,8.4,1039022.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
233163,Dunkirk,5013056,2017,7.8,640953.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
233530,Get Out,5052448,2017,7.7,573622.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
237687,Deadpool 2,5463162,2018,7.7,563756.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
T_Const=df_all['T_Const'].to_list()

In [63]:
df_links['imdbId']
df_movie_ids=df_links[df_links['imdbId'].isin(T_Const)]['movieId']
df_movie_ids=df_movie_ids.to_list()
df_all.insert(1,'movieId',df_movie_ids,True)
df_all.reset_index(drop=True, inplace=True)
df_all

,primaryTitle,movieId,T_Const,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
0,Nosferatu,1,0013442,1922,7.9,96271.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Metropolis,2,0017136,1927,8.3,172666.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,City Lights,3,0021749,1931,8.5,182909.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,Frankenstein,5,0021884,1931,7.8,71663.0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,M,6,0022100,1931,8.3,156439.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Guardians of the Galaxy Vol. 2,174055,3896198,2017,7.6,662565.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2100,Avengers: Infinity War,176371,4154756,2018,8.4,1039022.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2101,Dunkirk,177765,5013056,2017,7.8,640953.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2102,Get Out,179819,5052448,2017,7.7,573622.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2103,Deadpool 2,187593,5463162,2018,7.7,563756.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Normalize

In [66]:
def movies_normalize(movies):
    df = movies.copy()
    movies_norm_col =  df[['startYear', 'averageRating', 'numVotes']]
    df[['startYear', 'averageRating', 'numVotes']] = (movies_norm_col - movies_norm_col.mean()) / (movies_norm_col.max() - movies_norm_col.min())# movies_norm_col.std()

    return df


normalized_movies = movies_normalize(df_all)
normalized_movies

,primaryTitle,movieId,T_Const,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
0,Nosferatu,1,0013442,-0.758471,0.128628,-0.053772,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Metropolis,2,0017136,-0.706388,0.187451,-0.024546,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,City Lights,3,0021749,-0.664721,0.216863,-0.020628,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,Frankenstein,5,0021884,-0.664721,0.113922,-0.063186,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,M,6,0022100,-0.664721,0.187451,-0.030754,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Guardians of the Galaxy Vol. 2,174055,3896198,0.231112,0.084510,0.162868,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2100,Avengers: Infinity War,176371,4154756,0.241529,0.202157,0.306884,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2101,Dunkirk,177765,5013056,0.231112,0.113922,0.154600,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2102,Get Out,179819,5052448,0.231112,0.099216,0.128842,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2103,Deadpool 2,187593,5463162,0.241529,0.099216,0.125068,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
normalized_movies.to_csv('../Data/UserRec/IMDB_movie.csv', index=False)