In [139]:
from sklearn.manifold import TSNE
import pandas as pd
import numpy as np

In [140]:
pred = pd.read_csv('../Data/UserRec/Prediction/rating_hat_svd.csv')
pred.set_index('userId', inplace=True)
pred

,1,2,3,5,6,7,9,10,11,12,...,159093,164179,166528,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
1,4.300452,3.571215,3.465611,3.121505,4.066646,3.270388,3.162101,3.537795,3.722770,2.611431,...,3.460379,4.074908,3.972873,3.623153,4.321035,3.530005,3.834063,3.473022,3.587518,3.836080
2,3.965650,3.426945,3.254993,3.027813,3.930104,3.179177,3.108605,3.469403,3.657179,2.566144,...,3.429482,4.024593,3.951776,3.608948,4.262222,3.418126,3.748675,3.415725,3.497591,3.801226
3,3.928969,3.426830,3.233969,3.015313,3.919441,3.150855,3.090178,3.505553,3.650476,2.559769,...,3.407699,3.996506,3.935214,3.587564,4.231940,3.388216,3.713173,3.396671,3.474757,3.774202
4,3.938105,3.299268,3.236504,3.020118,3.900940,3.191719,3.110811,3.431941,3.617828,2.554367,...,3.428248,4.026593,3.928653,3.605687,4.265009,3.400778,3.761094,3.390869,3.470251,3.808670
5,3.947456,3.394174,3.240750,3.021619,3.920893,3.178373,3.109313,3.468222,3.646452,2.562202,...,3.432139,4.026257,3.951045,3.612065,4.264319,3.415271,3.751588,3.412719,3.492526,3.805632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.977969,3.361626,3.238261,3.005878,3.888173,3.211201,3.118615,3.294475,3.615175,2.541222,...,3.454113,4.056467,3.955322,3.632875,4.297632,3.461753,3.804884,3.429794,3.517901,3.836895
607,4.077525,3.499990,3.362884,3.099039,4.013268,3.210239,3.129586,3.596113,3.722045,2.613128,...,3.423394,4.029076,3.950237,3.597357,4.265653,3.410876,3.744931,3.415197,3.503393,3.793356
608,3.177097,3.340925,2.628582,2.705825,3.634920,2.911648,3.016721,3.415705,3.515043,2.427568,...,3.488664,3.994867,4.101642,3.723660,4.230316,3.386771,3.646825,3.483265,3.488309,3.835197
609,3.924542,3.395910,3.226975,3.015160,3.908441,3.175091,3.105838,3.437494,3.644628,2.558816,...,3.431677,4.026036,3.951851,3.613383,4.263199,3.410861,3.748753,3.411667,3.489919,3.805184
610,4.246273,3.730595,3.358404,3.029709,4.032689,3.191098,3.131468,3.534508,3.701156,2.564545,...,3.477751,4.061532,4.030413,3.648586,4.311851,3.604384,3.821525,3.539594,3.653686,3.835253

In [141]:
movies_info = pd.read_csv('../Data/UserRec/IMDB_movie.csv')
movies_info

,primaryTitle,movieId,T_Const,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
0,Nosferatu,1,13442,-0.758471,0.128628,-0.053772,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Metropolis,2,17136,-0.706388,0.187451,-0.024546,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,City Lights,3,21749,-0.664721,0.216863,-0.020628,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,Frankenstein,5,21884,-0.664721,0.113922,-0.063186,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,M,6,22100,-0.664721,0.187451,-0.030754,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Guardians of the Galaxy Vol. 2,174055,3896198,0.231112,0.084510,0.162868,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2100,Avengers: Infinity War,176371,4154756,0.241529,0.202157,0.306884,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2101,Dunkirk,177765,5013056,0.231112,0.113922,0.154600,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2102,Get Out,179819,5052448,0.231112,0.099216,0.128842,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2103,Deadpool 2,187593,5463162,0.241529,0.099216,0.125068,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## T-SNE

In [142]:
movies_info

,primaryTitle,movieId,T_Const,startYear,averageRating,numVotes,Family,Biography,Musical,Reality-TV,...,Romance,History,Film-Noir,Adult,Animation,News,Horror,Western,Sci-Fi,Crime
0,Nosferatu,1,13442,-0.758471,0.128628,-0.053772,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Metropolis,2,17136,-0.706388,0.187451,-0.024546,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,City Lights,3,21749,-0.664721,0.216863,-0.020628,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,Frankenstein,5,21884,-0.664721,0.113922,-0.063186,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,M,6,22100,-0.664721,0.187451,-0.030754,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Guardians of the Galaxy Vol. 2,174055,3896198,0.231112,0.084510,0.162868,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2100,Avengers: Infinity War,176371,4154756,0.241529,0.202157,0.306884,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2101,Dunkirk,177765,5013056,0.231112,0.113922,0.154600,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2102,Get Out,179819,5052448,0.231112,0.099216,0.128842,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2103,Deadpool 2,187593,5463162,0.241529,0.099216,0.125068,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [143]:
df=movies_info.copy()
user_rating = pred.loc[600]
type(user_rating)

pandas.core.series.Series

In [144]:
movies_features = movies_info.drop(columns=['primaryTitle', 'T_Const', 'movieId'])

tsne_score = TSNE(n_components=1, learning_rate='auto', init='random').fit_transform(np.array(movies_features))

In [145]:
def tSNE(movie_df):
    movies_features = movie_df.drop(columns=['primaryTitle', 'T_Const', 'movieId'])

    tsne_score = TSNE(n_components=1, learning_rate='auto', init='random').fit_transform(np.array(movies_features))

    movies_sort = movie_df[['T_Const', 'primaryTitle', 'movieId']].copy()
    movies_sort['tsne_score'] = tsne_score
    
    movies_sort.sort_values(by=['tsne_score'], inplace=True)

    movies_sort.reset_index(drop=True, inplace=True)

    return movies_sort
    

movies_sorted = tSNE(movies_info)
movies_sorted

      T_Const                         primaryTitle  movieId  tsne_score
0      120735  Lock, Stock and Two Smoking Barrels     3409 -118.955666
1     1250777                             Kick-Ass    90866 -118.916534
2     1232829                       21 Jump Street    89904 -118.875488
3     3799694                        The Nice Guys   168252 -118.866417
4     2294449                       22 Jump Street   122900 -118.823410
...       ...                                  ...      ...         ...
2099  1748122                     Moonrise Kingdom   110553  110.142113
2100  1570728                 Crazy, Stupid, Love.   103335  110.155510
2101  1022603                   500 Days of Summer    79592  110.213120
2102  1045658              Silver Linings Playbook    80906  110.365158
2103   118799                    Life Is Beautiful     3005  110.525307

[2104 rows x 4 columns]

In [146]:
movies_sorted.shape

(2104, 4)

In [149]:
movies_sorted.to_csv('../Data/UserRec/recommend/tSNE_sorted.csv')

## Rec

In [147]:
def tSNE_recommend(title, sorted_movies_df, range=20, n=5):
    movie_index = sorted_movies_df.index[sorted_movies_df['primaryTitle'] == title].tolist()
    
    if movie_index:
        movie_index = movie_index[0]

        len = sorted_movies_df.shape[0]
        if range > len-2:
            return 'Range out of list'

        front = movie_index - range//2 
        back = movie_index + range//2 

        if front < 0:
            back += -front
            front = 0
        elif back > len-1:
            front -= back - (len-1)
            back = len-1
        
        similar_movie_df = sorted_movies_df[front:back].drop(index = movie_index)
        
        return similar_movie_df
    
    else:
        return 'Can\'t Find this Movie'


def user_recommend(user_id, similar_movie_df, n=5):
    sorted_id = list(pred.loc[user_id].sort_values(ascending=False).index)
    i = 0
    range_movie_id = similar_movie_df['movieId'].to_list()
    rec_id_list = []
    for index in range(len(sorted_id)):
        if i >=  n:
            break
        else:
            if int(sorted_id[index]) in range_movie_id:
                rec_id_list.append(similar_movie_df[similar_movie_df['movieId'] == int(sorted_id[index])].index.to_list()[0])
                i += 1
    
    ## get movie name
    id_name = similar_movie_df['primaryTitle'].to_dict()

    name_list = []
    for id in rec_id_list:
        name_list.append(id_name[id])

    return name_list

In [148]:
movie = 'The Avengers'
user_id = 50


similar_movie_df = tSNE_recommend(movie, movies_sorted)

user_recommend(user_id, similar_movie_df)

['Harry Potter and the Half-Blood Prince',
 'Edge of Tomorrow',
 'The Chronicles of Narnia: Prince Caspian',
 'X-Men: Days of Future Past',
 'Avengers: Infinity War']